<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.9.1.8" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net40" />
  <package id="NLog" version="3.2.1" targetFramework="net40" />
  <package id="Openfin.WinForm" version="4.40.2.10" targetFramework="net40" />
  <package id="OpenFin.WPF" version="4.40.2.1" targetFramework="net40" />
  <package id="OpenfinDesktop" version="4.40.2.9" targetFramework="net40" />
  <package id="WebSocket4Net" version="0.8" targetFramework="net40" />
</packages>